**/.git/
**/.gitignore
**/.vs/
**/.vscode/
**/bin/
**/obj/
**/.user
**/.suo
**/*.user
**/*.suo
**/TestResults/
**/node_modules/
**/coverage/
**/logs/
**/*.log
**/*.md
**/*.sh
**/*.ps1
**/.dockerignore
**/docker-compose*
**/LICENSE
